body{
    padding: 0;
    margin: 0;
}
    
.logo{
    display: flex;
    justify-content: center;
}
.logo h1{
    text-align: center;
    display: block;
    width: 100%;
    
}
.logo img{
    margin-top: 20px;
}
#main_div{
    display: flex;
    justify-content: space-around;
}
#new,#list{
    flex: 1;
    

}
.fcontainer{
    display: flex;
    justify-content: center;
}
.form_div{
    display: flex;
    flex-direction: column;
}
.form_div{
    display: flex;
    justify-content: center;
 }
 .bar h3{
    background-color: gray;
    padding: 2%;
    
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 20px;
}
.list_add{
    background-color: grey;
    width: 80%;
    padding-left: 5%;
    border-radius: 10px;
    margin-top: 5%;
}
.btnstyle{

    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.invaliddata{
    background-color: red;
}
.successdata{
    background-color: green;
}
#noti{
    margin-bottom: 50px;
    padding: 10px;
    
}
Button{
    background-color: blue;
    color: aliceblue;
    
}
.musiclistform{
    display: none;
}


@media screen and (max-width:768px){
    #main_div{
        flex-direction: column;
        
        
    }
} 